{% extends 'base.html'%}

{% load static %}

{% block content %}
<div class="page-header d-flex align-items-center">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <h1 class="text_align_center">TEAM MEMBERS</h1>
        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>

        <!-- <a class="cta-btn" href="{% url 'contact' %}">Available for hire</a> -->

      </div>
    </div>
  </div>
</div><!-- End Page Header -->
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url({% static 'assets/images/heading-2-1920x500.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Lorem ipsum dolor</h4>
              <h2>Our Team Members</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>MASUD ABDULYAKEEN</h4>
                <span>GROUP LEADER</span>
                <p>CST\19\COM\00419</p>
                <p>08034249291</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>NASIR SARKI LABARAN</h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00065</p>
                <p>09020515211</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ABUBAKAR HABIB ILU</h4>
                <span>MEMBER</span>
                <P>CST\18\COM\00043</P>
                <p>09129947901</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Ahmad Abubakar Abdullahi</h4>
                <span>MEMBER</span>
                <P>CST\18\SWE\00103</P>
                <p>08166242639</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ADAM ADO TK</h4>
                <span>MEMBER</span>
                <p>CST\18\SWE\00108</p>
                <P>07080591910</P>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ASHIR ADAM ADAM </h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00018</p>
                <P>08163355906</P>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Abubakar Shuaib Garba</h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00102</p>
                <P>09022747943</P>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Aliyu Aminu  Naiya</h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00088</p>
                <p>08032061320</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Hamza Almustapha</h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00029</p>
                <p>07030749630</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <div class="hover-effect">
                  <div class="hover-content">
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Mubarak Abubakar Jadas</h4>
                <span>MEMBER</span>
                <p>CST/18/COM/00015</p>
                <p>07049988417</p>
              </div>
            </div>
          </div>
         
          </div>
        </div>
      </div>
    </div>
{% endblock content %}